/* .testimonialSection .sectionHeading{position: relative; top: 25px;} */
.testimonialSwiper{position: unset;}
.testimonialSwiper .playbtn{transform: translate(-50%, -50%);}
.testimonialSwiper .swiper-pagination-fraction{color: #00000096; bottom: -49px;display: flex; align-items: center; justify-content: space-between; gap: 20px; max-width: 297px;}
.testimonialSwiper .custom-divider{display: block; background: #00000047; width: 83%; height: 2px;}
.testimonialSwiper .swiper-pagination-fraction span{font-size: 20px;}
.testimonialSwiper .swiper-button-prev, .testimonialSwiper .swiper-button-next{bottom: 45%; top: inherit; background: var(--secondary); height: 37px; width: 37px; border-radius: 100px;}
.testimonialSwiper .swiper-button-prev{left: 2% !important;}
.testimonialSwiper .swiper-button-next{left: 40%;}
.testimonialSwiper .swiper-button-next:after, .testimonialSwiper .swiper-button-prev:after{font-size: 15px; color: var(--white) !important;}
.testimonialSwiper .borderline{height: 2px; background: rgba(0, 0, 0, 0.2); margin-top: 172px;}
.testimonialSwiper .desc{color: var(--secondary); line-height: 37px;}
.testimonialSwiper .name{color: var(--gray); margin-top: 43px; margin-bottom: 90px;}
.testimonialSwiper .name::after{content: ''; position: absolute; right: 0; background: url(/assets/frontend/images/icons/quotes.png) no-repeat;width: 68px;height: 55px;}
.testimonialSwiper .name .line{height: 2px; width: 70px; background-color: rgb(0 0 0 / 28%);}


.testimonialSwiper .swiper-button-next,
.testimonialSwiper .swiper-button-prev {
  display: flex !important;
}

.testimonialSwiper .swiper-button-next:after{content: 'next' !important;}
.testimonialSwiper .swiper-button-prev:after{content: "prev" !important;}


/* .testimonialSection{padding-top: 120px; padding-bottom: 120px; position: relative; max-height: 100vh; overflow: hidden;}
.testimonialSection .panel {display: flex;width: 100vw;flex-shrink: 0;}
.testimonialSection .sectionHeading{position: relative; top: 25px;}
.testimonialSwiper{position: unset;}
.testimonialSwiper .playbtn{transform: translate(-50%, -50%);}
.testimonialSwiper .swiper-pagination-fraction{color: #00000096; bottom: -49px;display: flex; align-items: center; justify-content: space-between; gap: 20px; max-width: 297px;}
.testimonialSwiper .custom-divider{display: block; background: #00000047; width: 83%; height: 2px;}
.testimonialSwiper .swiper-pagination-fraction span{font-size: 20px;}
.testimonialSwiper .swiper-button-prev, .testimonialSwiper .swiper-button-next{bottom: 30%; top: inherit; background: var(--secondary); height: 37px; width: 37px; border-radius: 100px;}
.testimonialSwiper .swiper-button-prev{left: 2%;}
.testimonialSwiper .swiper-button-next{left: 40%;}
.testimonialSwiper .swiper-button-next:after, .testimonialSwiper .swiper-button-prev:after{font-size: 15px; color: var(--white);}
.testimonialSwiper .borderline{height: 1px; background: rgba(0, 0, 0, 0.2); margin-left: -30px; margin-top: 12.3%;}
.testimonialSwiper .desc{color: var(--secondary); font-size: 14px; line-height: 37px;}
.testimonialSwiper .name{color: var(--gray); font-size: 18px; margin-top: 43px; margin-bottom: 90px;}
.testimonialSwiper .name::after{content: ''; position: absolute; right: 15px; background: url(/assets/frontend/images/icons/quotes.png);width: 68px;height: 55px;}
.testimonialSwiper .name .line{height: 2px; width: 70px; background-color: rgb(0 0 0 / 14%);} */

@media (max-width:767px) {
  .testimonialSwiper .swiper-button-next, 
  .testimonialSwiper .swiper-button-prev{bottom: 72%; height: 31px; width: 31px;}
  .testimonialSwiper .swiper-button-next{left: inherit; right: 2% !important;}
  .testimonialSwiper .swiper-button-next:after, 
  .testimonialSwiper .swiper-button-prev:after{font-size: 13px;}
  .testimonialSwiper .name::after{background-size: 30px; width: 32px; top: 0;}
  .testimonialSwiper .name{margin-bottom: 50px; margin-top: 21px;}
}