.app_header{z-index: 9; color: var(--white); padding-top: 20px; transition: all 0.2s ease-in-out;}

.app_header.active {
  background: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  animation: slide-down 0.9s;
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}