.app_header{z-index: 9; color: var(--white); padding-top: 30px; transition: all 0.2s ease-in-out;}
.app_header.active{background: var(--white); padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
/* .app_header.active .logo-colred , .app_header.active .colredIcon{display: block;} */
