.text-primary {
  color: var(--secondary);
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.lightbox-container img {
  width: 100% !important;
  height: auto !important;
}
.slider .lightbox-container img {
  width: 60% !important;
  height: auto !important;
}
.lightbox-container{
  background-color: #555 !important;
}
.lightbox-container img {
  box-shadow: none !important;
}

body.lightbox-open #cursor {
display: none;
}

#cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  position: fixed;
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 99999999 !important; /* Increase z-index */
  pointer-events: none; /* Prevent interactions */
}

.portal-container { 
  pointer-events: auto !important; /* Allow cursor movement */
}


.fixed.inset-0 { 
  pointer-events: auto !important; /* Allow cursor movement */
}



/* mobile  */

@media only screen and (max-width: 600px) {
 #cursor{
  display: none;
 }
}
