.text-primary {
  color: var(--secondary);
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lightbox-container img {
  width: 100% !important;
  height: auto !important;
}
.slider .lightbox-container img {
  width: 60% !important;
  height: auto !important;
}
.lightbox-container img {
  box-shadow: none !important;
}
#cursor {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000bd;
  position: fixed;
  font-size: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 9;
  display: block;
}

/* mobile  */

@media only screen and (max-width: 600px) {
 #cursor{
  display: none;
 }
}
