.admin_body nav.navbar {
    height:90px;
    align-items: center;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    padding: 15px 0;
    background: #fff;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.admin_body .navbar .hamburger {
    display: flex;
    align-items: center;
    gap:5px;
    height: 20px;
    cursor: pointer;
}

.admin_body .navbar .hamburger .sm,
.admin_body .navbar .hamburger .lg{
    display:block;
    height:1px;
    background: #3a3a3a;
    position:relative;
}

.admin_body .navbar .hamburger .sm:before,
.admin_body .navbar .hamburger .lg:before{
    position:absolute;
    content:'';
    display:block;
    height:1px;
    background: #3a3a3a;
    top:-5px;
}

.admin_body .navbar .hamburger .sm:after,
.admin_body .navbar .hamburger .lg:after{
    position:absolute;
    content:'';
    display:block;
    height:1px;
    background: #3a3a3a;
    top:unset;
    bottom:-5px;
}

.admin_body .navbar .hamburger .sm,
.admin_body .navbar .hamburger .sm:before,
.admin_body .navbar .hamburger .sm:after{
    width:6px;
}


.admin_body .navbar .hamburger .lg,
.admin_body .navbar .hamburger .lg:before,
.admin_body .navbar .hamburger .lg:after{
    width:14px;
}

.admin_body .navbar .logo{
    max-width: 100px;
}

.admin_body .navbar .user .name{
    margin-right: 15px;
    font-size: 14px;
    color: #888;
    font-weight: 500;
}

.admin_body .navbar .user .user_img{
    width: 35px;
    height: 35px;
}

.admin_body .navbar #dropdown-basic{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding-right:20px;
}

.admin_body .navbar #dropdown-basic:after{
    display:none;
}

.admin_body .navbar #dropdown-basic:before{
    position:absolute;
    content:'';
    top:50%;
    right:0;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    height:12px;
    width:12px;
    background:url('../../../../public/assets/images/icons/chevron_down.svg') no-repeat center center;
    background-size:contain;
}

