
:root{
  --inter_font: "Inter", sans-serif;
  --roboto_font: "Roboto", sans-serif;
  --tinos_font:"Tinos", serif;
  --futura_font:'Futura';
  --futura_bt_book:'Futura_Bt_book';
  --futura_bt_medium:'Futura_Bt_medium';
  --theme_primary_color:#f4d966;
  --theme_primary_dark_color:#33638b;
  --theme_secondary_color:#0158c7;
  --theme_secondary_dark_color:#003f8f;
  --theme_orange_color:#dca004;
  --theme_primary_txt:#1cc1a4;
  --theme_primary_txt_dark:#0c8f78;
}

.admin_body{
    background: #f8f8f8;
}

.admin_body .container-fluid{
    padding-left:60px;
    padding-right:60px;
}

/* login page */

.admin_body .login_page .left_col{
    background:url('../../../../public/assets/admin/images/login_bg.webp') no-repeat center;
    background-size:cover;
    min-height:100vh;
}
.content_layout .layout_content{
    /* padding-top: 100px!important; */
}
.admin_body .login_page .right_col{
    padding:30px 80px;
    display: flex;
    flex-direction: column;
}

.admin_body .login_page .logo{
    max-width: 100px;
}

.admin_body .login_page .form_data{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin_body .login_page .title{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
}

.admin_body .login_page .form-label{
    font-weight: 500;
    font-size: 15px;
    color: #737373;
    letter-spacing: 0.4px;
}

.admin_body .login_page .form-control{
    height:50px;
    border:none;
    background-color: #efefef;
    color:#4c4d4d;
    padding:5px 20px;
}

.admin_body .login_page .form-control::placeholder{
    font-size:15px;
    color:#999;
    font-weight: 400;
}

.admin_body .login_page .submit_btn{
    height: 48px;
    font-size: 20px;
    font-weight: 400;
}


/* end of login page */

.admin_body .title_col{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.admin_body .page_title{
    font-size: 26px;
    font-weight: 500;
    margin:0;
}

.admin_body .card{
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}

.admin_body .card_style1{
    padding:30px;
    border-radius: 10px;
    border:none;
}

.admin_body .card_style1.color_card{
    background-color:var(--theme_primary_dark_color);
    border-color:var(--theme_primary_dark_color);
    color:#fff;
}

.admin_body .card_style1.card_sm .count{
    color:var(--theme_primary_dark_color);
    font-weight: 500;
    font-size: 24px;
}

.admin_body .card_style1 .icon{
    width: 50px;
    margin-bottom: 20px;
}

.admin_body .card_style1.color_card .icon{
    filter:invert(1)
}

.admin_body .card_style1 .count{
    font-size: 30px;
}

.admin_body .card_style1 .title{
    margin:0;
    font-size:16px;
    color: #8f8f8f;
}

.admin_body .card_style1.color_card .title{
    color:#fff;
}

.admin_body .card_style1.card_sm  p{
    font-size:16px;
    font-weight: 500;
    color: #666;
    margin-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin_body .card_style1.card_sm .btn{
    padding:0;
    border:none;
    outline:none;
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    color:#333;
}

.admin_body .no_record{
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #898989;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.admin_body table thead{
    background:#f8f8f8;
}

.admin_body table thead th{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding:20px;
}

.admin_body table td{
    padding:15px;
    font-size: 14px;
}

.admin_body table .thumb{
    background: #f8f8f8;
    padding: 4px;
    display: inline-block;
}

.admin_body table .thumb img{
    object-fit: contain;
    height: 100px;
    width: 100px;
}

.admin_body table .thumb.icon{
    width:initial;
}

.admin_body table .thumb.icon img{
    width:50px;
    height:50px;
}

.admin_body table tbody tr:not(:last-child){
    border-bottom: 1px solid #f3f3f3;
}

.admin_body table select.form-control{
    cursor: pointer;
    min-width: 130px;
}

.admin_body .table_pr {
    display: flex;
    align-items: center;
}

.admin_body .table_pr .thumb{
    width: 90px;
    border-radius: 6px;
    overflow: hidden;
}

.admin_body .table_pr .content{
    margin-left:15px;
}

.admin_body .table_pr .pr_name{
    margin-bottom:2px;
}

.admin_body .table_pr .location{
    color: #909090;
}

.admin_body .table_pr .price{
    margin: 6px 0 0;
    color:var(--theme_primary_dark_color);
    font-weight: 600;
    font-size: 18px;
}

.admin_body .table_pr .price small{
    font-weight: 400;
    font-size: 16px;
    margin-right: 3px;
    color: #555;
}

.admin_body .btn.action_btn{
    padding:0;
}

.admin_body .action_btn:not(:last-child){
    margin-right:20px;
}

.admin_body .action_btn .icon{
    margin:0;
    width: 18px;
    filter:contrast(0.5);
}

.admin_body table .view_icon{
    width: 16px;
    filter: contrast(0.2);
}

.admin_body .btn{
    text-transform: uppercase;
    font-size:13px;
    font-weight: 500;
    padding-left: 15px;
    padding-right:15px;
}

.admin_body .btn.btn_sm{
    font-size:11px;
    padding:6px 10px
}

.admin_body .steps_area{
    width: 300px;
    position: sticky;
    top: 130px;
    /* position: relative; */
    height: fit-content;
}

.admin_body .steps_col{
    background: #e9e9e9;
    border-radius: 10px;
    padding: 40px 30px;
}

.admin_body .step{
    position: relative;
}

.admin_body .step:not(:last-child){
    padding-bottom: 40px;
}

.admin_body .step:not(:last-child):before{
    position: absolute;
    content: '';
    height: 100%;
    width: 4px;
    background: #ddd;
    left: 7px;
}

.admin_body .step.filled:before{
    background:#b0c5cd;
}

.admin_body .step .step-trigger{
    display:flex;
    text-decoration: none;
    color: #333;
}

.admin_body .steps_col .circle{
    width: 16px;
    height: 16px;
    position: relative;
    background: #ddd;
    display: inline-block;
    border-radius: 100%;
    z-index: 1;
    left: 2
}

.admin_body .steps_col .active .circle,
.admin_body .steps_col .filled .circle{
    width: 20px;
    height: 20px;
    left: 0;
}

.admin_body .steps_col .active .circle{
    background:var(--theme_secondary_color)
}

.admin_body .steps_col .filled .circle:before{
    height: 9px;
    width: 5px;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 0;
    transform: rotate(45deg) translate(-100%, -20%);
    -webkit-transform: rotate(45deg) translate(-100%, -20%);
    -ms-transform: rotate(45deg) translate(-100%, -20%);
}

.admin_body .steps_col .circle:before{
    position: absolute;
    content: '';
    height: 7px;
    width: 7px;
    background: #fff;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.admin_body .steps_col .content{
    width: calc(100% - 20px);
    padding-left: 15px;
    line-height: initial;
}

.admin_body .steps_col .title{
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: initial;
}

.admin_body .steps_col .subtitle{
    font-size: 13px;
    color: #555;
    font-weight: 500;
}

.admin_body .form_col{
    width: calc(100% - 300px);
    padding-right:0;
    padding-left: 80px;
}

.admin_body .form_col .labelTitle{
    font-size: 18px;
    margin-bottom: 15px;
}

.admin_body .form_col .form-label{
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
    letter-spacing: 0.3px;
}

.admin_body .form_col .input-group-text{
    padding: 0;
    border: none;
}

.admin_body .location_filter_row{
    display:flex;
}

.admin_body .location_filter_row .form-group{
    flex:1;
    align-items: end;
}

.admin_body .location_filter_row .filter_group{
    align-items: flex-end;
    display: flex;
    max-width: 200px;
}

.admin_body .location_filter_row .filter_btn{
    height:50px;
    width:100%;
}

 .quill {
    background:#fff;
}

.quill .ql-snow,
.quill.ql-snow{
    border-color:#dee2e6;
}

.quill .ql-editor{
    height:200px;
}

.admin_modal_right .quill .ql-editor{
    height:100px;
}

.mr-1{
    margin-left: 1rem;
}
.min_height_600{
    min-height: 600px;
}





.btn_primary{
    background:var(--theme_primary_color);
    color:#fff;
    border:none;
  }
  
 
::placeholder{
    font-family: var(--futura_bt_medium);
  }
  
  .form-group .form-label{
    font-weight: 500;
    font-size: 15px;
    color: #444;
  }
  
  .form-group .form-label .size{
    display:block;
    color:#888;
    font-weight: 400;
    font-size:11px;
    margin-bottom: 3px;
  }
  
  .form-control{
    box-shadow: none!important;
    height: 50px;
    padding:5px 15px;
    border-radius: 3px;
  }
  
  select.form-control{
    background: url(/proptimes-layout/public/assets/images/icons/chevron_down.svg) no-repeat calc(100% - 14px) center;
    background-color:#fff;
    background-size: 14px;
    padding-right: 30px;
  }
  
  .form-control::placeholder{
    font-size:15px;
    color:#777;
  }
  
  textarea.form-control{
    height:100px;
  }
  
  textarea.form-control.textarea_sm{
    height:80px
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }
  
  .primary_color{
    color:var(--theme_primary_txt)
  }
  
  .btn{
    border-radius: 4px;
    color: #555;
    padding: 10px 25px;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-size:14px
  }
  
  .btn_outline,
  .btn_outline:hover,
  .btn_outline:focus,
  .btn_outline:active{
    border: 1px solid #B4B7C9;
  }
  
  .btn_sm{
    font-size:14px;
    font-weight: 500;
    padding: 8px 15px;
  }
  
  
  
  .btn_white:hover,
  .btn_white:focus,
  .btn_white:active{
    background: #fff!important;
    color: var(--theme_primary_color);
  }
  
  .btn.btn_style1{
    color: var(--theme_primary_color);
  
    .txt{
      margin-right: 15px;
    }
  
    img{
      display: block;
      margin-left: auto;
    }
  
  }
  
  .btn.btn_style2{
  
    color:var(--theme_primary_color);
    border:1px solid var(--theme_primary_color);
    border-radius: 0;
  }
  
  .btn.btn_style3{
    color:#000;
    background:var(--theme_primary_color);
    border:1px solid var(--theme_primary_color);
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .section{
    position:relative;
    padding:60px 15px;
  }
  
  .main_title{
    margin-bottom:80px;
  }
  
  .main_title .tag{
    color: #555555;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .main_title .title{
    margin-bottom: 15px;
    font-size: 32px;
    max-width: 50%;
  }
  
  .main_title.text-center .title{
    margin-left:auto;
    margin-right:auto;
  }
  
  .main_title .title.w-100{
    max-width: 100%;
  }
  
  .main_title .sub_title{
    margin:0;
    max-width: 60%;
  }
  
  .main_title .sub_title.w-100{
    max-width: 100%;
  }
  
  .main_title.text-center .sub_title{
    margin-left: auto;
    margin-right:auto;
  }
  
  ul,ol{
    margin:0;
    padding:0;
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
  }
  
  



  
.mx_-8{
    margin-left:-8px!important;
    margin-right:-8px!important;
  }
  
  .mx_-10{
    margin-left:-10px!important;
    margin-right:-10px!important;
  }
  
  .mx_-20{
    margin-left:-20px;
    margin-right:-20px;
  }
  
  .mx_-30{
    margin-left:-30px;
    margin-right:-30px;
  }
  
  .mx_-40{
    margin-left:-40px;
    margin-right:-40px;
  }
  
  .mx_-50{
    margin-left:-50px;
    margin-right:-50px;
  }
  
  .px_8{
    padding-left:8px!important;
    padding-right:8px!important;
  }
  
  .px_10{
    padding-left:10px;
    padding-right:10px;
  }
  
  .px_20{
    padding-left:20px;
    padding-right:20px;
  }
  
  .px_30{
    padding-left:30px;
    padding-right:30px;
  }
  
  .px_40{
    padding-left:40px;
    padding-right:40px;
  }
  
  .px_50{
    padding-left:50px;
    padding-right:50px;
  }
  
  .mt_20{
    margin-top:20px;
  }
  
  .mt_30{
    margin-top:30px;
  }
  
  .mt_40{
    margin-top:40px;
  }
  .mt_50{
    margin-top:50px;
  }
  
  .mt_60{
    margin-top:60px;
  }
  
  .mt_80{
    margin-top:80px;
  }
  
  .mt_100{
    margin-top:100px;
  }
  
  .mb_15{
    margin-bottom:15px;
  }
  
  .mb_20{
    margin-bottom:20px;
  }
  
  .mb_30{
    margin-bottom:30px;
  }
  
  .mb_40{
    margin-bottom:40px;
  }
  
  .mb_50{
    margin-bottom:50px;
  }
  
  .mb_60{
    margin-bottom:60px;
  }
  
  .pb_100{
    padding-bottom:100px;
  }
  
  .mr_20{
    margin-right:20px;
  }
  
  .errMsg{
    color:red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .bg1{
    background:#131313;
    z-index: 1;
  }
  

  /* backdrop  */

.backdrop{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(0 0 0 / 50%);
  z-index: 99;
  opacity:0;
  visibility: hidden;
}

.backdrop.show{
  animation:backdrop_an 100ms linear forwards;
}

@keyframes backdrop_an {
  0%{
    opacity:0;
    visibility: hidden;
  }
  100%{
    opacity:1;
    visibility: visible;
  }
}

  