.loader .loader_in {
    animation: meregang 1.2s infinite ease-in-out alternate;
}

@keyframes meregang {

    0% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.9;
    }
}