.loader .loader_in {
    animation: meregang 1.2s infinite ease-in-out alternate;
}

@keyframes meregang {

    0% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.9;
    }
}

.loader {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loader-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.content-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.content-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
