/* .loader .loader_in {} */
.loading_content {
    background: rgb(239 245 250);
    display: grid;
    place-content: center;
    z-index: 999 !important;
}

.preloader_pane {
    background: rgb(239 245 250);
    display: block;
    overflow: hidden;
    /* Prevents flickering */
    pointer-events: auto;
    position: absolute;
    width: 100%;
    height: 50%;
    transform-origin: top center;
    /* Helps in smooth shrinking */
}

.preloader_pane_2 {
    bottom: 0;
    transform-origin: bottom center;
    /* Shrinks smoothly */
}


@keyframes meregang {

    0% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.9;
    }
}

.loader {
    transition:  0.5s ease-in-out;
}

.loader-hidden {
    transition:  0.5s ease-in-out;
    display: none;
}

.content-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.content-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}