.heroSection .container{top: 50%; left: 50%; transform: translate(-50%, -50%);}
.heroSection .common_heading{line-height: 60px;}
.hero_vdo_div{width: 100%;height: 100%;background-color: #fff; transition: all 1s linear;}