.ImageContain::before{
    content: '';
    background-color: #143C5E;
    position: absolute;
    top: 0px;
    left: 0px;
    width:calc(100% - 14px) ;
    height: calc(100% - 14px) ;
    z-index: 1;
}

.blogs_list_content{

    li{

        a{

            
        }
    }
}