.emiCalculator input[type="range"] {-webkit-appearance: none;appearance: none;width: 100%;cursor: pointer;outline: none;border-radius: 15px;height: 8px;background: #dddddd;}
/* Thumb: webkit */
.emiCalculator input[type="range"]::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;height: 22px;width: 22px;background-color: var(--primary);border-radius: 50%;border: none;transition: .2s ease-in-out;}
/* Thumb: Firefox */
.emiCalculator input[type="range"]::-moz-range-thumb {height: 15px;width: 15px;background-color: var(--primary);border-radius: 50%;border: none;transition: .2s ease-in-out;}
/* Hover, active & focus Thumb: Webkit */
.emiCalculator input[type="range"]::-webkit-slider-thumb:hover {box-shadow: 0 0 0 10px rgba(81, 113, 105, 0.3)}
.emiCalculator input[type="range"]:active::-webkit-slider-thumb {box-shadow: 0 0 0 13px rgba(8, 146, 146, 0.3)}
.emiCalculator input[type="range"]:focus::-webkit-slider-thumb {box-shadow: 0 0 0 13px rgba(81, 113, 105, 0.3)}
/* Hover, active & focus Thumb: Firfox */
.emiCalculator input[type="range"]::-moz-range-thumb:hover {box-shadow: 0 0 0 10px rgba(81, 113, 105, 0.3)}
.emiCalculator input[type="range"]:active::-moz-range-thumb {box-shadow: 0 0 0 13px rgba(81, 113, 105, 0.3)}
.emiCalculator input[type="range"]:focus::-moz-range-thumb {box-shadow: 0 0 0 13px rgba(81, 113, 105, 0.3)}

.emiCalculator .type_num{background:#fff url('assets/frontend/images/icons/rupee.webp') no-repeat 10px 10px; background-size: 18px; padding-left: 35px;}

@media (max-width:767px) {
    .emiCalculator .type_num{background-size: 15px; background-position: 10px center; padding-left: 30px;}
}