@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "midland-luxury-medium";
  font-display: swap;
  src: url("/assets/frontend/fonts/midland-luxury/regular/MidlandLuxury-Regular.otf");
}

@font-face {
  font-family: "midland-luxury-Bold";
  font-display: swap;
  src: url("/assets/frontend/fonts/midland-luxury/regular/MidlandLuxury-Medium.otf");
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 12px;
  font-family: "Poppins", serif;
  letter-spacing: 0.5px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Poppins", serif;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body.lightbox-open * {
  cursor: auto;
}

body {
  font-family: "Poppins", serif;
}

.user_body {
  cursor: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

img {
  max-width: 100%;
}

#root .container {
  max-width: 90%;
}

/* end reset csss */
:root {
  --black: #000000;
  /* --gray: rgba(0, 0, 0, 0.67); */
  --gray: #141414;
  --white: #ffffff;
  --primary: #33638b;
  --secondary: #33638b;
  --green: "#6cb641";
}

/* common Css */
.midlandfontmedium {
  font-family: "midland-luxury-medium";
}

.midlandfontbold {
  font-family: "midland-luxury-Bold";
}

.fontItalic {
  font-style: italic;
}

.common_heading {
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 3;
}

.common_pera {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--gray);
}

.common_btn {
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.common_btn svg {
  font-size: 16px;
}

.waterMarkDiv {
  position: relative;
}

.about .waterMarkDiv .bg_text {
  font-size: 3vw;
}

.plans .waterMarkDiv .bg_text {
  font-size: 1.5vw;
  rotate: 180deg;
}

.waterMarkDiv .bg_text {
  letter-spacing: 1px;
}

.waterMarkDiv.vertical .bg_text {
  letter-spacing: 0px;
}

.fixed-tabs {
  background-color: white !important;
  width: 100%;
  padding-block: 14px;
}

/* Safari ke liye */
/* @media not all and (min-resolution: 0.001dpcm) { 
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      .waterMarkDiv.vertical .bg_text {
          letter-spacing: 0px !important; 
      }
  }
} */

.sectionHeading {
  word-spacing: 8px;
  line-height: 40px;
}

.fullBtn {
  background: var(--primary);
}

/* .reveal{position: relative;}
.reveal::before {position: absolute;content: "";height: 100%;width: 100%;background: #000; opacity: 1; left: 0; bottom: 0;z-index: 1;transition: all 1s ease-in-out;}
.reveal.active:before{width: 0; right: 0; opacity: 0;} */

.reveal {
  clip-path: polygon(0 0, 20% 0, 21% 100%, 0% 100%);
  transition: all 1.2s ease-in-out;
}

.reveal.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transform: translate(0, 0);
}

.reveal_fade .reveal {
  clip-path: unset;
}

.reveal_fade .reveal.active {
  clip-path: unset;
}

.reveal_fade .reveal::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
}

.reveal_fade .reveal.active:before {
  height: 0;
}

.reveal_cut_effect .reveal {
  clip-path: polygon(0 0, 100% 0, 100% 11%, 0 10%);
}

.reveal_cut_effect .reveal.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.reveal_cut_effect_1 .reveal {
  clip-path: polygon(0 71%, 100% 71%, 100% 100%, 0% 100%);
}

.reveal_cut_effect_1 .reveal.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* Add this in your global CSS */
.writing-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* mobile  */

@media only screen and (max-width: 600px) {
  .objectRight {
    object-position: right;
  }

  * {
    cursor: block !important;
  }

  *,
  *::before,
  *::after {
    line-height: 22px;
  }

  .sectionHeading {
    font-size: 10px;
    line-height: 30px;
    word-spacing: 6px;
  }

  .common_heading {
    font-size: 10px;
  }
  .common_btn,
  .common_btn svg {
    font-size: 14px;
  }
}

/*end common Css */

.amenities-container,
.gallery-container {
  padding: 70px 0;
  height: 100%;
  .container {
    max-width: 92%;
  }
  .commonHeading {
    line-height: 40px;
    font-size: 25px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  .commonHeading::after,
  .commonHeading::before {
    display: none;
  }
  .contentSide,
  .headings-div {
    position: sticky;
    top: 66px;
    height: fit-content;
  }
  .headings-div {
    text-align: right;
  }
  .desc {
    margin-bottom: 35px;
    font-size: 14px;
  }
  .siteBtn {
    padding: 12px 35px;
    border-radius: 4px;
    display: block;
    margin-top: 25px;
  }
  .am_name,
  .el_name {
    font-size: 35px;
    color: var(--primary);
    font-weight: 600;
    min-width: 24%;
    text-align: right;
  }
  .el_name {
    min-width: auto;
    text-align: left;
    text-transform: capitalize;
  }
}
.am_scroll_section {
  text-align: right;
  padding-left: 123px;
  .box_inner {
    display: flex;
    justify-content: end;
    gap: 25px 0;
  }
  .boxes {
    display: grid;
    gap: 25px 0;
  }
  .imgBox {
    padding-left: 25px;
    margin-left: 25px;
    border-left: 1px solid var(--secondary);
    width: 100%;
    min-width: 74%;
    img {
      width: 100%;
    }
  }
}
