
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-slide .lightbox-container img{
  width: 350px !important;
  height: 250px !important;
  margin: 0;
  border-radius: 0;
}
